
                     <form action="{% url 'index' %}" method="post" id="packet-form">
                      {% csrf_token %}

                      <div class="row m-2">
                          <div class="col-6">
                            {{ ipForm.destIP|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ ipForm.destPort|as_crispy_field }}
                          </div>
                      </div>

                      <div class="row m-2">
                          <div class="col-12">
                            <label for="exampleFormControlTextarea1">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                      </div>

                      <div class="row m-2">
                          <div class="col-12 send">
                              <button class="btn btn-warning" type="submit">Send</button>
                          </div>
                      </div>
                  </form>