

@font-face {
    font-family: "Hack";
    src: url(../fonts/Hacked-KerX.ttf);
}

.logo {
     font-family: 'Hack', sans-serif;
    padding-left: 10px;
}

.section{
    padding: 50px;
}

.send {
    padding-top: 20px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

ul {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
}

li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
li:last-child {
  border-bottom: none;
}
li:nth-child(even) {
  background: #f8f8f8;
}
