
            <div class="col-md-6">
                <label for="headerC" class="form-label">Header Checksum</label> <i class="fas fa-question-circle help"
                                                                      data-bs-toggle="modal" data-bs-target="#helpModal"
                                                                      onclick="helpUser('Header Checksum', 10, 10, 1)"></i>
                <input type="number" class="form-control" id="headerC" min="0" max="65535">
            </div>
        </div>

        <div class="row p-2">
            <div class="col-md-12">
                <label for="srcIP" class="form-label">Source Address(IP)</label> <i class="fas fa-question-circle help"
                                                                      data-bs-toggle="modal" data-bs-target="#helpModal"
                                                                      onclick="helpUser('Source Address', 11, 11, 1)"></i>
                <input type="text" class="form-control" id="srcIP" value="{{ client.local_ip }}" disabled>
            </div>
        </div>

        <div class="row p-2">
            <div class="col-md-12">
                <label for="destIP" class="form-label">Destination Address(IP)</label> <i class="fas fa-question-circle help"
                                                                      data-bs-toggle="modal" data-bs-target="#helpModal"
                                                                      onclick="helpUser('Source Address', 12, 12, 1)"></i>
                <input type="text" class="form-control" id="destIP">
            </div>
        </div>

        <div class="row p-2">
            <div class="col-md-12">
                <label for="optIP" class="form-label">Options</label> <i class="fas fa-question-circle help"
                                                                      data-bs-toggle="modal" data-bs-target="#helpModal"
                                                                      onclick="helpUser('Source Address', 13, 13, 1)"></i>
                <textarea type="text" class="form-control" id="optIP"></textarea>
            </div>
        </div>

    </div>